@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Roboto:500');

h1 {
    color:red; /* this is a css comment! */
    /* font-family: fantasy; */
    font-family: 'Roboto', sans-serif; 
}

#wordmark {
    /* DIGIT 400 Logo WordMark */
    font-family: 'Fascinate Inline', cursive;
}

.loop { /*class selector!*/
    color:#ff8912;
}

#basic {
    color:#ff6896;
}